* {
    padding: 0;
    margin: 0;
}
html{
    display: flex;
    justify-content: center;
    background-color:  #F5F5F5;;
}
body{
    max-width: 1440px;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;
    height: 100%;
    border: 3px solid #000000;
    height: 60px;
    align-items: center;
    padding: 0px 40px;
    margin-top: 10px;
}
.header-logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.header-logo img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin-left: 36px;
}
.header-search{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header-search input{
    width: 470px;
    height: 40px;
    padding-left: 20px;
}
.header-search button{
    border: none;
    background-color: #FFFFFF;
}
.header-search button img{
    width: 40px;
    height: 40px;
}
.header-links{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.header-links img{
    width: 40px;
    height: 40px;
}
.main{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.main-list{
    border: 3px solid #000000;
    padding: 20px 115px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 20px;
    justify-content: center;
}
.main-list-elem{
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    width: 357px;
    height: 435px;
}
.main-list-elem img{
    width: 100%;
    height: 90%;
}
.main-list-elem-name{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}
.main-list-elem-name img{
    width: 30px;
}
.footer{
    height: 50px;
    border: 3px solid #000000;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}
.footer-icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.googlePlay{
    width: 35px;
}

.main-menu-like{
    margin-top: 30px;
}
.main-menu-like input{
    margin-top: 5px;
}
.main-menu-like p{
    margin-top: 5px;
}


@media screen and (max-width: 1440px){
    body{
        padding: 5px;
    }
    .main-list{
        justify-content: center;
    }
}

@media screen and (max-width: 900px){
    .header{
        height: 40px;
        padding: 0px 10px;
    }
    
    .header-logo img{
        width: 25px;
        height: 25px;
        margin-left: 0px;
    }
    .header-logo{
        margin-right: 10px;
    }
    h1{
        font-size: 1em;
    }
    .header-search input{
        width: 230px;
        height: 20px;
    }
    .header-search button img{
        width: 20px;
        height: 20px;
    }
    .header-links img{
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 520px){
    .main-list-elem{
        width: 200px;
        height: 300px;
    }
    .header-links, .header-logo{
        gap: 2px;
    }
    .header-search input{
        width: 160px;
        padding-left: 5px;
    }
    .footer{
        padding: 0 5px;
    }
}